{% extends 'main/base.html' %}

{% block head %}
{% endblock %}

{% block body %}
    <div class="jumbotron ">
        <h1 class="display-5">Mutual Fund / S&P Performance</h1>
        <p class="lead">65% of mutual funds underperformed the S&P 500 over a 1 year period and about 80% underperformed over a 10 year period.
            <a href = "https://www.investopedia.com/advisor-network/questions/h
            ow-many-mutual-funds-beat-sp-500-percentage-basis-after-operational-fees/#ixzz57a7eysH1">(Investopedia)
            </a>
        </p>
        <hr class="my-4">
        <p>Login to find out more:</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
        </p>
    </div>
{% endblock %}

